body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    color: #2c3e50!important;
    background-color: white;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: #2c3e50!important;
    background-color: white;
    font-weight: bold;
    text-align: center;
}

img {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

p {
    font-family: sans-serif;
    font-size: 12
}

.container {
    background-color: white;
}
.navbar {
    border: 0;
}

.navbar * {
    background-color: #2c3e50;
    color: white;
}
.navbar-default .navbar-nav>li>a {
    color:white;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: grey;
}
.dropdown-menu>li>a {
    color: white;
}
.navbar-brand {
    background-color: #2c3e50!important;
    font-weight: bold;
    color: white;
}

/* Here we define a navbar style that will ONLY be applied at screen sizes below 480 pixels */

@media (max-width: 480px) {
    .navbar {
        background-color: #2c3e50!important;
    }
}

.navbar-brand {
    background-color: white;
    font-weight: bold;
    color: rgb(12, 173, 167);
}